<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Recipes App</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
<div class="ui container">
    <div class="ui fixed inverted menu teal">
        <div class="ui container">
                <div class="header item"><i class="utensils icon"></i><span id="header_title">Recipes</span></div>
                <a href="/recipes" class="item">Home</a>
                <a href="/recipes/new" class="item">New Recipe</a>
        </div>
    </div>
</div>   
    
    

  